<!DOCTYPE html>
<html>
<head>
    <title>${applicationName}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="assets/pictures/favicon.ico" type="image/x-icon" id="favicon">

    <!-- Avoid browser and user scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <!-- bower:css -->
    <!-- endbower -->

    <!-- to delete when grunt will be totaly delete->
    <!-- injector:css -->
    <!-- endinjector -->

    <!-- inject:css -->
    <!-- endinject -->
    
    <script src="assets/script/winstore-jscompat.js"></script>

    <!-- build:js:buildCordova cordova.js -->
    <!-- /build -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- to delete when grunt will be totaly delete->
    <!-- injector:js -->
    <!-- endinjector -->
    
    <!-- inject:js -->
    <!-- endinject -->
</head>

<body ng-app="MFApplication" ng-controller="MFRootScopeCtrl">

    <!--//@generated-start[index-control-bar][X]-->
    <mf-controlbar mf-title="${applicationName}" mf-home-state="<% HOME_SCREEN_STATE %>"></mf-controlbar>
    <!--//@generated-end-->



<!--//@generated-start[index-snap-menu][X]-->
	<!-- 
	Menu utilisable tel quel, visible sur toutes les pages de l'application. A décommenter si nécessaire.
    <mf-slide-menu>
        <div name="mf-snap-menu">
            <ul class="list-group">
                <li class="list-group-item"></li>
                <li class="list-group-item"><button snap-close ng-click="importDatabase()" class="btn btn-default">{{'slidingmenu.database.import.label' | translate}}</button></li>
                <li class="list-group-item"><button snap-close ng-click="exportDatabase()" class="btn btn-default">{{'slidingmenu.database.export.label' | translate}}</button></li>
                <li class="list-group-item"><button snap-close ng-click="resetDatabase()" class="btn btn-default">{{'slidingmenu.database.reset.label' | translate}}</button></li>
                <li class="list-group-item"><button snap-close ng-click="actions.go('config')" class="btn btn-default">{{'slidingmenu.settings.label' | translate}}</button></li>-->
               <!--//@generated-start[view-list-group-items][X]-->
               <!-- <li class="list-group-item"><button snap-close ng-click="actions.go('<% NAVIGABLE_SCREEN_STATE %>')" class="btn btn-default">{{'<% NAVIGABLE_SCREEN_NAME %>' | translate}}</button></li>-->
				<!--//@generated-end-->
            <!--</ul>
        </div>
        -->	


		  <div growl class="main-container"></div>
		  <!-- Application content here -->
		  <div ui-view="" class="flex-container">
		  </div>
    <!-- </mf-slide-menu> -->

</body>
</html>
