<?xml version='1.0' encoding='utf-8'?>
<widget id="${groupId}" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>${artifactId}</name>
    <description>${artifactId}</description>
    <author email="sebastien.maitre@sopra.com" href="http://www.sopra.com">
        Sopra
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <!-- Allow SMS links to open messaging app -->
    <allow-intent href="sms:*" />
    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />
    <!-- Allow geo: links to open maps -->
    <allow-intent href="geo:*" />
    <!-- Allow geo: links to open mail app -->
    <allow-intent href="mailto:*" />

    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />

    <!-- ADD FOR FILE SYSTEM ACCESS -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />

    <plugin name="Camera" value="CDVCamera" />
    <plugin name="Notification" value="CDVNotification" />
    <plugin name="Geolocation" value="CDVLocation" />
    <plugin name="NetworkStatus" value="CDVConnection" />
    <plugin name="File" value="CDVFile" />
    <plugin name="FileTransfer" value="CDVFileTransfer" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <access origin="*" />
</widget>
