/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Gulp configuration that is automatically processed.
 */

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables';

/**
 *  we include the framework.scss files that contain Twitter Bootstrap SASS files and movalys framework tools style (splashscreen, form etc)
 * Only the ones used in the project should be imported as the rest are just wasting space.
 */
@import '../../../build/vendor/mdk-html5-lib-ui/assets/styles/framework';
@import './connexion';
