/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */


//@generated-start[variable-declaration]

//////////////// ENEDIS COLOR //////////////////////
$enedis-blue: #005CB8;
$enedis-lightBlue: #E5Eff8;
$enedis-mediumBlue: #668EC9;
$enedis-darkBlue: #005099;
$enedis-errorColor: #D0011B;
$enedis-green: #93C90E;
$enedis-Grey: #C5C5C5;
$enedis-lighGrey: #F2F2F2;
$enedis-mediumGrey: #E0E0E0;
$enedis-darkGrey: #555555;
////////////////////////////////////////////////////


//@generated-end
