/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

$brand-red: #e31f21;

//@generated-start[variable-declaration][X]
$application-workspace-styles : (
        workspace: (
                workspace-columns-number: 4,
          //    workspace-displayed-columns:2
        ),
        workspace2: (
                workspace-columns-number: 2,
          //workspace-displayed-columns:2
        )
);
//@generated-end