<div class="panel-body col-sm-8 col-sm-offset-2">
    <form class="form-horizontal" name="configurationForm" novalidate role="form">
        <mf-textfield
            mf-field="viewModel.username"
            mf-label="common.username"
            mf-placeholder="common.username"
            mf-readonly="false"
            mf-required="true"
        ></mf-textfield>

        <mf-textfield
            mf-password
            mf-field="viewModel.password"
            mf-label="common.password"
            mf-placeholder="common.password"
            mf-readonly="false"
            mf-required="true"
        ></mf-textfield>

        <mf-urlfield
            mf-field="viewModel.serverUrl"
            mf-label="config.server-url"
            mf-placeholder="http://"
        ></mf-urlfield>

    </form>
</div>